ALLOWED_ORIGIN=http://localhost:3000
PORT=3001

AZURE_STORAGE_CONTAINER_NAME=your_container_name
AZURE_STORAGE_ACCOUNT_NAME=your_account_name
AZURE_STORAGE_ACCOUNT_KEY=your_account_key
AZURE_STORAGE_CONNECTION_STRING=your_connection_string

MAX_UPLOAD_MB=100
# JWT_SECRET=your_jwt_secret
# JWT_EXPIRES_IN=1h